<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			div div{
				width: 100px;
				height:200px;
				
			}
		</style>
	</head>
	<body>
		<div id="box">
			<input type="text" v-model="width" />
			<input type="text" v-model="height" />
			<div :style="arr"></div>
		</div>
	</body>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		let app=new Vue({
			el:"#box",
			data:{
				width:"100px",
				height:"100px",
				arr:{
					'background':'red',
					
				}
			}
			
			
		})
	</script>
</html>
